<style>
  /* body{
  	text-align: center;
  	background: #00ECB9;
    font-family: sans-serif;
    font-weight: 100;
  } */

  #clockdiv{
  	font-family: sans-serif;
  	color: #fff;
  	display: inline-block;
    align: center;
  	font-weight: 100;
  	text-align: center;
  	font-size: 30px;
  }

  #clockdiv > div{
  	padding: 10px;
  	border-radius: 3px;
  	background: #0066FF;
  	display: inline-block;
  }

  #clockdiv div > span{
  	padding: 15px;
  	border-radius: 3px;
  	background: #0099FF;
  	display: inline-block;
  }

  .smalltext{
  	padding-top: 5px;
  	font-size: 16px;
  }
  </style>

  <div id="clockdiv">
    <div>
      <span class="days" id="days"></span>
      <div class="smalltext">Days</div>
    </div>
    <div>
      <span class="hours" id="hours"></span>
      <div class="smalltext">Hours</div>
    </div>
    <div>
      <span class="minutes" id="minutes"></span>
      <div class="smalltext">Minutes</div>
    </div>
    <div>
      <span class="seconds" id="seconds"></span>
      <div class="smalltext">Seconds</div>
    </div>
  </div>
<script>

var deadline = new Date("feb 4, 2020 00:00:00").getTime();

var x = setInterval(function() {

var now = new Date().getTime();
var t = deadline - now;
var days = Math.floor(t / (1000 * 60 * 60 * 24));
var hours = Math.floor((t%(1000 * 60 * 60 * 24))/(1000 * 60 * 60));
var minutes = Math.floor((t % (1000 * 60 * 60)) / (1000 * 60));
var seconds = Math.floor((t % (1000 * 60)) / 1000);
document.getElementById("days").innerHTML =days ;
document.getElementById("hours").innerHTML =hours;
document.getElementById("minutes").innerHTML = minutes;
document.getElementById("seconds").innerHTML =seconds;
if (t < 0) {
      clearInterval(x);
      document.getElementById("timeup").innerHTML = "THE WAIT IS OVER";
      document.getElementById("days").innerHTML ='0';
      document.getElementById("hours").innerHTML ='0';
      document.getElementById("minutes").innerHTML ='0' ;
      document.getElementById("seconds").innerHTML = '0'; }
}, 1000);
</script>
